@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

body {
    text-align: center;
    margin: auto;
    background-repeat: no-repeat;
    background-size: auto 100vl;
    font-family: 'Cormorant Garamond', serif;
    color: whitesmoke;
    font-weight: bold;
}

.restart {
    position: absolute;
    top: 0vw;
    right: 2vw;
    cursor: pointer;
}

#title {
    position: fixed;
    right: 5vw;
    color: rgb(255, 255, 255);
    background: rgba(0,0,0,0.2);
    width: 20%;
    height: 100%;
}

#portrait {
    display: none;
}

#title h1 {
    animation-name: fade1;
    animation-duration: 5s;
}

#title h2 {
    animation-name: fade2;
    animation-duration: 5s;
}

#title p {
    animation-name: fade3;
    animation-duration: 5s;
}


#page {
    width: 100vw;
    height: 100vw;
}

ul {
    padding: 0;
}

li {
    list-style-position: inside;
    list-style-type: none;
    padding: .5em;
    font-size: 1.2em;
}

li:hover{
    color: blue;
    cursor: pointer;
}

#game,#result {
    margin: 5vw;
    background-color: rgba(0,0,0,0.5);
}

#scores {
    margin: 7vw;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.5);
}

#scores *{
    margin: 0 5vw;
}

#truth,.reset, #title {
    cursor: pointer;
}

@keyframes fade1 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade2 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade3 {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}


@media screen and (orientation: landscape) and (max-width: 768px) {
    body {
        font-size: .8em;
        background-size: 100vw;
    }
    
    #title p {
        animation-name: fade3;
        animation-duration: 5s;
        color: white;
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #game {
        min-height: 25vw;
    }

}

@media screen and (orientation: portrait) and (max-width: 768px) {

    #title {
        width: 50%;
    }

    #portrait{
        display: block;
    }

}

@media screen and (min-width: 768px) {
    body {
    background-size: 100vw auto;
    font-size: 2em;
    }
}