body {
    text-align: center;
    margin: auto;
}

#page {
    width: 100vw;
    height: 100vw;
}

ul {
    padding: 0;
}

li {
    list-style-position: inside;
    list-style-type: none;
    padding: 2vw;
}

li:hover{
    color: blue;
    cursor: pointer;
}

#game {
    margin: 5vw;
}

#scores {
    margin: 5vw;
    display: flex;
    justify-content: space-around;
}

#scores *{
    margin: 0 5vw;
}

#truth,.reset {
    cursor: pointer;
}